<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quas"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.quas.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.quas.ViewQuestionActivity"
            android:label="@string/title_activity_view_question"
            android:parentActivityName="com.quas.MainActivity" >
        </activity>
        <activity
            android:name="com.quas.playground.ListQuestionsActivity"
            android:label="@string/title_activity_list_questions"
            android:parentActivityName="com.quas.MainActivity" >
        </activity>
        <activity
            android:name="com.quas.playground.ListExperimentActivity"
            android:label="@string/title_activity_list_experiment" >
        </activity>
        <activity
            android:name="com.quas.MyListActivity"
            android:label="@string/title_activity_my_list"
            android:parentActivityName="com.quas.MainActivity" >
        </activity>
        <activity
            android:name="com.quas.NewQuestionActivity"
            android:label="@string/title_activity_new_question"
            android:parentActivityName="com.quas.MainActivity" >
        </activity>
    </application>

</manifest>